<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC Gaming's Game Info Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/public/js/mainpage.js"></script>
<style>
    body {
        margin: 10px;
    }
</style>
</head>
<body>
    <h1>CC Gaming's Game Info Viewer</h1>
        <div class="card-deck">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Diablo 3 <button type="button" class="btn btn-secondary btn-sm" id="viewDiablo3Button">Authenticate and View</button></div>
                <div class="card-body">
                  <p class="card-text">Diablo 3 (PC) Characters and Info</p>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">FF14 Character Info <button type="button" class="btn btn-secondary btn-sm" id="viewFF14Button">View</button></div>
                <div class="card-body">
                  <p class="card-text">Get info about Final Fantasy 14 Characters</p>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">???</div>
                <div class="card-body">
                  <p class="card-text">Not sure what is next</p>
                </div>
              </div>
        </div>
</body>
</html>
